.env
__pycache__
# app.py  # Commented out to track Streamlit reference

routers

uploads
demo.py
app2.py
misc
.gradio
.vscode
books
app.py
routers
data/chromaDB/chroma.sqlite3
images
app.zip
user_preferences.json
boq_preferences.json
*.pyc
tmp
data
test.py
test2.py
designer_agent.py